@{
    ViewBag.Title = "Home Page";
}


<h2 style="color: brown ; font-size:20px; text-align:center">Quản lí quẹt thẻ xe</h2>s
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        Data Table

    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr>
                    <th style="text-align: center; width: 15%">Họ tên</th>
                    <th style="text-align: center; width: 15%">Tài khoản</th>
                    <th style="text-align: center; width: 15%">Mật khẩu</th>
                    <th style="text-align: center; width: 10%">Ngày tạo:</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div><!-- /.padding-md -->
</div>